$white              : #ffffff;
$black              : #000000;
$lavender           : #E6E6FA;
$grey               : #d0d0e1;
$grey-dark          : #9494b8;
$orange-light       : #F5AD64;
$orange             : #f4a142;

$td-row             : #ededed;
