@mixin MQ($media) {
    @if $media == S {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == M {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == L {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    // -webkit-transform-origin: 50% 50%;
    // -moz-transform-origin: 50% 50%;
    // -ms-transform-origin: 50% 50%;
    // -o-transform-origin: 50% 50%;
    // transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

// @mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
//     position: $position;
//     top: $top;
//     right: $right;
//     bottom: $bottom;
//     left: $left;
// }

// @mixin absolute($args) {
//     @include position("absolute", $args);
// }

// @mixin fixed($args) {
//     @include position("fixed", $args);
// }

// @mixin relative($args) {
//     @include position("relative", $args);
// }

// $breakpoints: (
//     'tiny':   ( max-width:  767px ),
//     'small':  ( min-width:  768px ),
//     'medium': ( min-width:  992px ),
//     'large':  ( min-width: 1200px ),
//     'custom': ( min-height:  40em )
// );

// @mixin breakpoint($name) {
//     @if map-has-key($breakpoints, $name) {
//         @media #{inspect(map-get($breakpoints, $name))} {
//             @content;
//         }
//     }
//     @else {
//         @warn "Couldn't find a breakpoint named `#{$name}`.";
//     }
// }


